<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0){ %>
                <ul>
                    <% products.forEach(p=>{ %>
                        <li> 
                            <p><%= p.title %>(<%= p.cartItem.qty %>)</p> 
                            <form action="/cart-delete-item" method="post">
                                <button type="submit" class="btn">delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                    <form action="create-order" method="POST">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
            <% } else { %>
                <h1> No Product in Cart! </h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>